[Desktop Entry]
Type=Application
Name=Lenovo Vantage
Comment=Lenovo Vantage is a free utility software designed by the electronics manufacturing and technology company Lenovo.
Exec=vantage %f
Icon=vantage
Terminal=false
Categories=Settings;HardwareSettings;
